@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'KccSign';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: inherit;
}

.widthyo {
    width: 402px;
    background-color: #eff3f3;
}

#container {
    display: block;
    height: 874px;
    margin: 0 auto;
    color: #333333;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>img {
    height: 30px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
}

nav>ul {
    display: flex;
    margin-right: 10px;
}

nav>ul>li {
    height: 30px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    border-bottom: 2px solid transparent;
    /* 기본은 투명 */
    transition: border-color 0.5s ease 0s;
}

nav>ul>li.active {
    border-bottom: 2px solid #78ddda;
    /* 선택된 탭만 밑줄 */
}

/*홈 내용입니다.*/
#home {
    position: relative;
    height: 824px;
    /* 배경색 바꾸기 */
    background-color: #78ddda;

    overflow: hidden;
}

.homeimgaeone {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 6;
    animation: homeone 1s ease 0s infinite alternate;
}

@keyframes homeone {
    0% {
        left: 50%;
    }

    100% {
        left: 53%;
    }
}

.homeimgaetwo {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
    z-index: 5;
    animation: hometwo 1s ease 0s infinite alternate;
}

@keyframes hometwo {
    0% {
        left: 50%;
    }

    100% {
        left: 47%;
    }
}

.homeimgaethree {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
    z-index: 4;
    animation: homeone 1s ease 0s infinite alternate;
}

.homeimgaefour {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
    z-index: 3;
    animation: hometwo 1s ease 0s infinite alternate;
}

.homeimgaefive {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
    z-index: 2;
    animation: homeone 1s ease 0s infinite alternate;
}

.homeimgaesix {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
    z-index: 1;
    animation: hometwo 1s ease 0s infinite alternate;
}

.home_title {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 7;
}

.home_title_chung {
    position: absolute;
    z-index: 7;
    left: 89.4px;
    top: 49.5px;
    animation: chung_ryang 2s ease infinite;
}

@keyframes chung_ryang {
    0% {
        margin-top: 0px;
    }

    40% {
        margin-top: 0px;
    }

    50% {
        margin-top: -2px;
    }

    60% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

.home_title_ryang {
    position: absolute;
    z-index: 7;
    left: 112.2px;
    top: 49.9px;
    animation: chung_ryang_two 2s ease infinite;
}

@keyframes chung_ryang_two {
    0% {
        margin-top: 0px;
    }

    70% {
        margin-top: 0px;
    }

    80% {
        margin-top: -2px;
    }

    90% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

/* 추천 내용 */
#chuchu {
    width: 402px;
    height: 903px;
    display: grid;
    grid-template-columns: 201px 201px;
    grid-template-rows: 301px 301px 301px;
}



.mainone {
    position: relative;
}

.mainone>h2 {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin: 10px;
}

.mainone>p {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.02em;
    margin: 10px;
}

.mainone>img {
    position: absolute;
    bottom: 70px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.gonggam {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 80px;
    height: 50px;
    border-radius: 3px;
    /* 푸른색으로 바꾸기 */
    border: 1px solid #78ddda;
}

.gonggam>p {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.02em;
    margin-top: 7px;
    margin-left: 10px;
}

#people {
    height: 824px;
}

#people>ul>li {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#people>ul>li>a {
    margin: 15px 10px;
}

#people>ul>li>a>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#people>ul>li>p {
    line-height: 80px;
    margin-right: 20px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
}

#mything {
    width: 402px;
    height: 903px;
}

.mythingtitle {
    width: 382px;
    height: 50px;
    margin: 10px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
    border: none;
    outline: none;
    border-bottom: 1px solid #78ddda;
    background-color: #eff3f3;
}

.mythingtitle:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #78ddda;
}

.mythingtitle::placeholder {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.mythingproject {
    resize: none;
    width: 382px;
    /* 일단적은 사이즈입니다. */
    height: 800px;
    margin: 10px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 160%;
    border: none;
    outline: none;
    border-bottom: 1px solid #78ddda;
    background-color: #eff3f3;
}

.mythingproject:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #78ddda;
}

.mythingproject::placeholder {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.02em;
}

/* 이거 확실히 계산하기 */

#myblog {
    height: 1500px;
}

.myblog_imgdiv {
    width: 402px;
    height: 402px;
    overflow: hidden;
    margin-bottom: 20px;
}

.myblog_img {
    display: block;
    width: 402px;
    height: 402px;
}

.myblog_htwo {
    width: 382px;
    height: 20px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}

.myblog_htwo>h2 {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;

}

#myblog>p {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.myblog_chuchu {
    width: 402px;
    height: 903px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 201px 201px;
    grid-template-rows: 301px 301px 301px;
}

footer {
    height: 30px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 14px;
}

footer>p {
    margin-left: 10px;
}
